/* landing page (#1) */
.timer {
  position: relative;
  width: 0%;
  height: 4px;
  background: #cc00ff;
}

.timer:after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  top: 0;
  background: #cc00ff;
}

ul.slider {
  max-width: 100%;
  /* Adjust the width to your preferred value */
  margin: 0 auto;
  /* To center the slider on the page */
}

.slider > li.selected .timer:after {
  width: 0%;
  animation: 5s timer linear;
}

@keyframes timer {
  to {
    width: 100%;
  }
}
/* introduction (#3) */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
/* Slide 147 (#4) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-147-b52c2ef6"] */
.slide[data-cid=slide-147-b52c2ef6] .img-147 {
  max-width: unset;
  max-height: 100vh;
}
@media (max-width: 767px) {
  .slide[data-cid=slide-147-b52c2ef6] .img-147 {
    max-height: 50vh;
  }
}

/* Slide 143 (#5) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-143-110f0b27"] */
@media (min-width: 768px) {
  .slide[data-cid=slide-143-110f0b27] .text-143 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
  }
}
.slide[data-cid=slide-143-110f0b27] .img-143:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.slide[data-cid=slide-143-110f0b27].whiteSlide .img-143:after {
  background: rgba(255, 255, 255, 0.4);
}
