/* Slide 137 (#1) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-137-2c9498f7"] */
.slide[data-cid=slide-137-2c9498f7] .img-137 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
}

/* Slide 146 (#2) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-146-f5c3d67b"] */
.slide[data-cid=slide-146-f5c3d67b] .external-slider-118 {
  overflow: hidden;
  width: calc(100% + 8vw + 15px);
}
.slide[data-cid=slide-146-f5c3d67b] .controller-external-118 > li p {
  opacity: 0.6;
  transition: 0.15s;
}
.slide[data-cid=slide-146-f5c3d67b] .controller-external-118 > li.selected p, .slide[data-cid=slide-146-f5c3d67b] .controller-external-118 > li:hover p {
  opacity: 1;
}
@media (max-width: 767px) {
  .slide[data-cid=slide-146-f5c3d67b] .controller-external-118 {
    display: inline-block;
  }
}
.slide[data-cid=slide-146-f5c3d67b] .box-118 {
  width: 280px !important;
}

/* Slide 01 (#3) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-01-2700fdfc"] */
.slide[data-cid=slide-01-2700fdfc] .flex-47 .material-icons {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 36px;
}

/* Slide 146 (#5) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-146-e31eb79b"] */
.slide[data-cid=slide-146-e31eb79b] .external-slider-118 {
  overflow: hidden;
  width: calc(100% + 8vw + 15px);
}
.slide[data-cid=slide-146-e31eb79b] .controller-external-118 > li p {
  opacity: 0.6;
  transition: 0.15s;
}
.slide[data-cid=slide-146-e31eb79b] .controller-external-118 > li.selected p, .slide[data-cid=slide-146-e31eb79b] .controller-external-118 > li:hover p {
  opacity: 1;
}
@media (max-width: 767px) {
  .slide[data-cid=slide-146-e31eb79b] .controller-external-118 {
    display: inline-block;
  }
}
.slide[data-cid=slide-146-e31eb79b] .box-118 {
  width: 280px !important;
}
