@charset "UTF-8";
/* Quadruple Suite (#2) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-01-230a07b5"] */
.slide[data-cid=slide-01-230a07b5] .external-slider-118 {
  overflow: hidden;
  width: calc(100% + 8vw + 15px);
}
.slide[data-cid=slide-01-230a07b5] .controller-external-118 > li p {
  opacity: 0.6;
  transition: 0.15s;
}
.slide[data-cid=slide-01-230a07b5] .controller-external-118 > li.selected p, .slide[data-cid=slide-01-230a07b5] .controller-external-118 > li:hover p {
  opacity: 1;
}
@media (max-width: 767px) {
  .slide[data-cid=slide-01-230a07b5] .controller-external-118 {
    display: inline-block;
  }
}
.slide[data-cid=slide-01-230a07b5] .box-118 {
  width: 280px !important;
}

/* quad photos (#3) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-147-11abe451"] */
.slide[data-cid=slide-147-11abe451] .img-147 {
  max-width: unset;
  max-height: 100vh;
}
@media (max-width: 767px) {
  .slide[data-cid=slide-147-11abe451] .img-147 {
    max-height: 50vh;
  }
}

/* Double Suites (#4) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-118-e15b7c54"] */
.slide[data-cid=slide-118-e15b7c54] .external-slider-118 {
  overflow: hidden;
  width: calc(100% + 8vw + 15px);
}
.slide[data-cid=slide-118-e15b7c54] .controller-external-118 > li p {
  opacity: 0.6;
  transition: 0.15s;
}
.slide[data-cid=slide-118-e15b7c54] .controller-external-118 > li.selected p, .slide[data-cid=slide-118-e15b7c54] .controller-external-118 > li:hover p {
  opacity: 1;
}
@media (max-width: 767px) {
  .slide[data-cid=slide-118-e15b7c54] .controller-external-118 {
    display: inline-block;
  }
}
.slide[data-cid=slide-118-e15b7c54] .box-118 {
  width: 280px !important;
}

/* double photos (#5) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-147-3e5b97d6"] */
.slide[data-cid=slide-147-3e5b97d6] .img-147 {
  max-width: unset;
  max-height: 100vh;
}
@media (max-width: 767px) {
  .slide[data-cid=slide-147-3e5b97d6] .img-147 {
    max-height: 50vh;
  }
}

/* Quadruple Suite (#6) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-01-eca879ab"] */
.slide[data-cid=slide-01-eca879ab] .external-slider-118 {
  overflow: hidden;
  width: calc(100% + 8vw + 15px);
}
.slide[data-cid=slide-01-eca879ab] .controller-external-118 > li p {
  opacity: 0.6;
  transition: 0.15s;
}
.slide[data-cid=slide-01-eca879ab] .controller-external-118 > li.selected p, .slide[data-cid=slide-01-eca879ab] .controller-external-118 > li:hover p {
  opacity: 1;
}
@media (max-width: 767px) {
  .slide[data-cid=slide-01-eca879ab] .controller-external-118 {
    display: inline-block;
  }
}
.slide[data-cid=slide-01-eca879ab] .box-118 {
  width: 280px !important;
}

/* Residence Slider  (#7) */
.timer {
  position: relative;
  width: 100%;
  height: 4px;
  background: #ccc;
}

.timer:after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  top: 0;
  background: #00ffCC;
}

.slider > li.selected .timer:after {
  width: 0%;
  animation: 5s timer linear;
}

@keyframes timer {
  to {
    width: 100%;
  }
}
/* Panel Bottom 05 */
.original {
  background-color: rgba(236, 235, 232, 0.75);
}
