/* 
Compile this file to css/custom_rI8S92Du.css using any SCSS preprocessor. 
More information here: https://slides.gitbook.io/manual/scss
*/

@import "mixins.scss"; 
@import "variables.scss";
@import "variables-custom.scss";

/* Location (#1) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-133-f2f79613"] */
.slide[data-cid="slide-133-f2f79613"]{
  .btn-133.circle{
    line-height:60px;
  }
  .btn-133.stroke{
    //line-height:60px;
    border: 1px solid rgba($default-white-color, 0.3) !important;
  }
  &.whiteSlide{
    .btn-133.stroke{ 
      color: $default-text-color !important;
      border: 1px solid rgba($default-text-color, 0.2) !important;
    }
  }
}

/* Slide 47 (#3) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-47-46410723"] */
.slide[data-cid="slide-47-46410723"]{
  .flex-47 .material-icons {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 36px;
  }
}

/* Slide 162 (#4) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-162-c5b739cb"] */
.slide[data-cid="slide-162-c5b739cb"]{
  .img-162{
    @include media(1440px, max) {
      max-width: 269%;
    }
    @include media($tablet, max) {
      max-width: 100%;
      width:100%;
    }
    @include media(1440px, min) {
      max-width: none !important;
    }
  }
  .box-162{
    height:0;
    @include media(1440px, max) {
      padding-top:65%;
    }
    @include media($tablet, max) {
      display:none;
    }
    @include media(1440px, min) {
      padding-top:180px;
    }
  }
}